/book_apps/
/ex_starts/
/Week2/Lab/excercise2-2/ch02_ex2/nbproject/private/
/Week2/Lab/Excercise2-1/ch02_ex1/nbproject/private/
/Week1/Lab/ch02_ex1/nbproject/private/
/Week2/Lab/Assignment1/Excercise2-1/ch02_ex1/nbproject/private/